# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Common editors
.vscode/
*.suo
*.user

# macOS (in case you ever collaborate with Mac users)
.DS_Store

# Node (in case you ever add any tooling later)
node_modules/